<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
<script src="https://kit.fontawesome.com/ea809bf82d.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <div class="container-fluid">
    <div class="footer">
    <div class="icon">
      <a href="https://github.com/kimcoquilla">
        <i class="fab fa-github"></i>
      </a>
      <a href="https://www.instagram.com/kimcoquilla/">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://www.facebook.com/kim.coquilla/">
        <i class="fab fa-facebook"></i>
      </a>
    </div>
    <p>
      This website was coded with ❤️ at Le Wagon.
    </p>
  </div>
    </div>


  </body>
</html>
